<header class="bg-[#0d1224] text-white py-4">
  <div class="container mx-auto flex items-center justify-between">
    <!-- ナビゲーション -->
    <nav class="flex space-x-6">
      <a routerLink="/home" id="title">Adreamer</a>
      <a routerLink="/home" class="text-gray-400 hover:text-white no-underline">Home</a>
      <a routerLink="/projects" class="text-gray-400 hover:text-white no-underline">Projects</a>
      <a routerLink="/about" class="text-gray-400 hover:text-white no-underline">About</a>
    </nav>
  </div>
</header>