<section class="bg-[#0d1224] text-white py-12">
  <div
    class="container mx-auto flex flex-col lg:flex-row items-center lg:justify-between space-y-12 lg:space-y-0 lg:space-x-12">
    <!-- 左側のテキスト -->
    <div class="lg:w-1/2 space-y-6">
      <h3 class="text-5xl font-bold leading-snug">
        Know Who <span class="text-pink-500">I'M</span>
      </h3>
      <p class="text-lg">
        Hi everyone!
        <br>I am <span class="text-teal-400">Adreamer</span> from BacNinh, VietNam,
      </p>
      <p class="text-lg">
        and I’m currently working as a backend developer in Tokyo, Japan.
      </p>
      <p class="text-lg">
        I’ve earned a Diploma in IT Expertise from Sundai Electronic Information & Business College.
      </p>
      <p class="text-lg">
        In addition to coding, I enjoy
      </p>
      <ul class="list-disc pl-6 space-y-1 text-lg">
        <li>Reading</li>
        <li>Gaming</li>
        <li>Watching anime</li>
      </ul>
      <p class="mt-4 text-pink-400 italic text-lg"></p>
    </div>

    <!-- 右側の画像 -->
    <div class="lg:w-1/2 flex justify-center lg:justify-end mt-8 lg:mt-0">
      <img src="assets/images/developer.svg" alt="Developer SVG"
        class="developer-image w-72 h-auto hover:animate-float" />
    </div>
  </div>

  <!-- Education SESSION -->
  <section class="bg-[#0d1224] text-white py-12">
    <h3 class="text-3xl font-bold text-pink-500 mb-12">Education</h3> <!-- Title with margin-bottom -->
    <div class="container mx-auto text-left"> <!-- Keep text-left for left alignment -->
      <!-- タイトル -->

      <!-- Educationカード -->
      <div class="bg-[#1a2035] rounded-lg shadow-md p-8 w-8 relative overflow-hidden">
        <!-- Beforeエフェクト -->
        <div class="absolute inset-0 bg-gradient-to-r from-pink-500 to-teal-500 opacity-10 rounded-lg"></div>

        <div class="relative z-10">
          <p class="text-pink-400 mb-2 text-lg text-center">2022 - 2024</p>
          <div class="flex-1 items-center justify-start space-x-4 mb-2">
            <!-- アイコン -->
            <div class="text-pink-500 text-4xl">🎓</div>
            <p class="text-xl font-semibold"></p>
            <p class="text-gray-300 text-lg">
              SOFTWARE ENGINEER <br>Sundai Electronic Information & Business College
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>


  <!-- Certifications セクション -->
  <div class="mt-16 text-left"> <!-- Changed to text-left to align the text to the left -->
    <h3 class="text-4xl font-bold text-pink-500 mb-8">Certifications I Have Achieved</h3>
    <div>
      <ul class="bg-[#1a2035] rounded-xl p-8 shadow-lg w-full max-w-3xl list-disc space-y-4 text-lg text-gray-300">
        <li>Fundamental Information Technology Engineer Examination</li>
        <li>AWS Certified Solutions Architect Associate</li>
        <li>JLPT Japanese-Language Proficiency Test (N1)</li>
      </ul>
    </div>
  </div>
</section>
<div class="mx-auto w-24 h-1 bg-gradient-to-r from-pink-500 to-blue-500"></div>
<hr size="1" noshade>
<!-- Footer -->
<footer class="bg-[#0d1224] text-white py-12">
  <div class="container mx-auto">
    <!-- 上部のコンテンツ -->
    <div class="">
      <h3 class="text-2xl font-semibold mb-6">
        FIND ME ON
      </h3>
      <div class="my-4 d-flex items-center"> <!-- gapの値を6に変更 -->
        <!-- Facebookアイコン -->
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer"
          class="hover:scale-110 transform transition ">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="30" width="30"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z">
            </path>
          </svg>
        </a>
        <!-- LinkedInアイコン -->
        <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer"
          class="hover:scale-110 transform transition gap-6">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="30" width="30"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M100.28 448H7.4V148.9h92.88zm-46.44-334C24.14 114 0 89.66 0 60.16A53.57 53.57 0 0 1 53.67 6.45C83.47 6.45 106.2 30.41 106.2 60.16c-.08 29.5-22.73 53.85-52.36 53.85zm394.54 334h-92.91V302.4c0-34.7-12.49-58.4-43.73-58.4-23.85 0-38.08 16.06-44.3 31.5-2.28 5.54-2.85 13.3-2.85 21v151.5h-92.8s1.24-246.2 0-271.8h92.88v38.5a92 92 0 0 1 83.7-45.95c61.07 0 106.83 39.8 106.83 125.5V448z">
            </path>
          </svg>
        </a><br>
      </div>
      <div class="flex justify-center mt-8">
        <p>Contact me : XxxxX&#64;.com</p>
      </div>
    </div>

  </div>
</footer>