body {
  background-color: #101123;
  /* ダークな背景 */

}

/* モバイル対応: 画面幅が640px未満のとき1列、～1024pxで2列など */
@media (max-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .skill-card {
    font-size: 1rem;
    /* テキスト少し小さく */
    padding: 10px;
    /* 内側の余白縮小 */
    margin: 0 auto;
    /* 中央寄せ（1列表示用） */
  }

  .skill-card img {
    max-width: 30px;
    max-height: 30px;
    margin-bottom: 8px;
    margin-top: 4px;
  }

  .skill-card {
    max-width: 50px;
    max-height: 50px;
  }

  .skill-name {
    font-size: 0.5rem;
  }

  .badge {
    max-width: 30px;
    max-height: 30px;
  }
}

/*skill cards*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 3列グリッド */
  grid-gap: 20px;
  /* カード間のスペース */
  padding: 20px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #7a3862;
  /* ボーダーの色 */
  background-color: #1a1f36;
  /* 背景色 */
  color: white;
  border-radius: 12px;
  /* カードの角丸 */
  font-size: 1.25rem;
  /* テキストサイズ */
  text-align: center;
  transition: all 0.3s ease;
  /* ホバー時のアニメーション */
  opacity: 0.9;
  /* max-width: 60px;
    max-height: 60px; */
}

.skill-card img {
  width: 50px;
  /* アイコンの幅 */
  height: 50px;
  /* アイコンの高さ */
  margin-bottom: 10px;
  /* アイコンとテキストの間隔 */
  margin-top: 5px;
  /* アイコンとテキストの間隔 */

}

.skill-card:hover {
  border-color: #4ade80;
  /* ホバー時のボーダー色 */
  box-shadow: 0px 4px 15px rgba(74, 222, 128, 0.3);
  /* ホバー時のシャドウ */
  transform: translateY(-5px);
  /* ホバー時に少し浮く */
}

.skill-card p {
  font-weight: bold;
  /* テキストを太字に */
  margin: 0;
}

#rpa {
  background-color: white;
  /* ダークな背景 */
}